@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-design: #ff7a00;
  --color-sales: #fc71ff;
  --color-backoffice: #1fd7c1;
  --color-marketing: #0038ff;
  --color-media: #ffc701;
}

.hoverAnimation {
  transition: background-color 225ms ease-in-out;
}

.scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
